<!-- <View>
  <Image name="img" value="$timelapse[0].image_urls[0]" showMousePos="true" zoom="true" defaultZoomScale="2" initZoomPositionToCenter="true"></Image>
  <PolygonLabels name="tag" toName="img" strokewidth="5" fillcolor="red" pointstyle="circle" pointsize="small">
    <Label value="Hello" background="red"></Label>
    <Label value="World" background="blue"></Label>  
  </PolygonLabels>
</View> -->
<View>
  <Repeater on="$timelapse" indexFlag="{{idx}}" mode="pagination" tooltipLabelKey="time" highlightAnnotationMark="true">

    <Image name="timelapse_{{idx}}" valueList="$timelapse[{{idx}}].image_urls" showMousePos="true" zoom="true" maxWidth="auto" verticalAlignment="center" horizontalAlignment="center" defaultZoomScale="2" initZoomPositionToCenter="true"
    sliderPagination="true" defaultPaginationValue="6" keepZoomingPosition="true" keepCurrentImageIndex="true" highlightAnnotationMark="false"
    ></Image>
    <KeyPointLabels name="kp-{{idx}}" toName="timelapse_{{idx}}">
      <Label value="MicroPN" background="red" />
    </KeyPointLabels>
  </Repeater>
</View>

