<!-- <View>
  <Image name="img" value="$timelapse[0].image_urls[0]" showMousePos="true" zoom="true" defaultZoomScale="2" initZoomPositionToCenter="true"></Image>
  <PolygonLabels name="tag" toName="img" strokewidth="5" fillcolor="red" pointstyle="circle" pointsize="small">
    <Label value="Hello" background="red"></Label>
    <Label value="World" background="blue"></Label>  
  </PolygonLabels>
</View> -->
<View>
  <Repeater on="$timelapse" indexFlag="{{idx}}" mode="pagination" 
            tooltipLabelKey="time" highlightAnnotationMark="true">
    <Image name="timelapse_{{idx}}" valueList="$timelapse[{{idx}}].image_urls" 
           showMousePos="true" zoom="true" maxWidth="auto" 
           verticalAlignment="center" horizontalAlignment="center" 
           defaultZoomScale="3" initZoomPositionToCenter="true"
           keepZoomingPosition="true"
    	   keepCurrentImageIndex="true"
    		sliderPagination="true" defaultPaginationValue="5"
            highlightAnnotationMark="true"></Image>
    <View>
      <Header value="Use this label to mark the cells (Ellipse segmentation mask)" />
      <EllipseLabels name="el-{{idx}}" toName="timelapse_{{idx}}">
        <Label value="Cell Ellipse" background="green" hotkey="w" />
      </EllipseLabels>
    </View>
    
    
    <View>
      <Header value="Use this label to mark the borderline of the cells" />
      <EllipseBasedPolygonLabels name="cbpl-{{idx}}" toName="timelapse_{{idx}}">
        <Label value="Ellipse Based Borderline" background="blue" hotkey="q"/>
      </EllipseBasedPolygonLabels>
    </View>

    <View>
      <BrushLabels name="bl-{{idx}}" toName="timelapse_{{idx}}">
        <Label value="Person" />
        <Label value="Animal" />
      </BrushLabels>
    </View>

    <View>
      <Header value="Use this label to mark the borderline of the cells" />
      <PolygonLabels name="pl-{{idx}}" toName="timelapse_{{idx}}">
        <Label value="Borderline" background="blue" hotkey="t"/>
      </PolygonLabels>
    </View>

  </Repeater>
</View>

